.product-view-box {
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            background-color: #fff; */
}

.main-image {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.thumbnails-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.thumbnails-wrapper {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.thumbnails-wrapper img {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
    width: 100px;
    transition: border-color 0.3s ease;
}

.thumbnails-wrapper img:hover,
.thumbnails-wrapper img.active {
    border-color: #007bff;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.arrow-btn.left {
    left: -20px;
}

.arrow-btn.right {
    right: -20px;
}
